Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a structured collection of data that is organized, stored, and managed in a way that facilitates efficient retrieval, updating, and manipulation of data. Databases are used to store and manage vast amounts of information for various purposes, including business operations, research, analysis, and more. They provide mechanisms for data integrity, security, and concurrent access.

# SQL (Structured Query Language) Databases:
SQL databases are relational databases that use the Structured Query Language (SQL) to define, manipulate, and query the data. These databases use a tabular structure where data is stored in tables with predefined schemas. Each table consists of rows and columns, and relationships between tables are established using keys (usually primary and foreign keys).

Key features of SQL databases:

Schema: Fixed schema with predefined structure.
Data Integrity: Strong data integrity and validation through constraints.
Transactions: ACID (Atomicity, Consistency, Isolation, Durability) compliant transactions.
Examples: MySQL, PostgreSQL, Oracle Database, Microsoft SQL Server.

# NoSQL (Not Only SQL) Databases:
NoSQL databases encompass a diverse range of database systems that depart from the traditional relational model. They are designed to handle unstructured or semi-structured data and offer more flexible and scalable data storage solutions. NoSQL databases are often used for modern web applications, big data, and real-time data processing.

Key features of NoSQL databases:

Schema Flexibility: Dynamic schema or schema-less design.
Scalability: Designed for horizontal scalability and distributed computing.
Data Variety: Suitable for diverse data types (key-value, document, column-family, graph).
Examples: MongoDB (document), Cassandra (column-family), Redis (key-value), Neo4j (graph).

# Differences:

Data Model: SQL databases use a tabular, structured model with predefined schemas. NoSQL databases offer various models, such as key-value, document, column-family, and graph, allowing greater flexibility in handling different data types.

Schema: SQL databases have a fixed schema that enforces data integrity through predefined data types and constraints. NoSQL databases often have a dynamic or schema-less design, allowing for easier adaptation to changing data requirements.

Query Language: SQL databases use the SQL language for querying and manipulating data. NoSQL databases may use different query languages or APIs depending on the specific type.

Scalability: NoSQL databases are designed for horizontal scalability, making them well-suited for distributed and large-scale systems. SQL databases can also scale but often require more effort for horizontal scaling.

Use Cases: SQL databases are often used for structured data with well-defined relationships, such as financial records or enterprise applications. NoSQL databases are preferred for unstructured or semi-structured data, real-time data, and applications requiring high scalability.

Transactions: SQL databases provide strong ACID-compliant transactions, while NoSQL databases offer varying levels of transaction support, depending on the type.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL (Data Definition Language):
DDL stands for Data Definition Language. It is a subset of SQL (Structured Query Language) that is used to define, manage, and modify the structure of a database. DDL statements are used to create, modify, or delete database objects like tables, indexes, views, and schemas. DDL does not deal with the actual data manipulation but focuses on defining and managing the database structure.

CREATE:
The CREATE statement is used to create new database objects, such as tables, indexes, and views.

In [27]:
import mysql.connector
#please enter your username and password
mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="galgotias_university"  # Replace with the actual name of your database
)
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE if not exists GALGOTIAS_UNIVERSITY")
mydb.close()

In [22]:
import mysql.connector

# Connect to the MySQL database
#please enter your username and password
mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="galgotias_university"  # Replace with the actual name of your database
)

# Create a cursor
mycursor = mydb.cursor()

# Define the SQL query to create the table
create_table_query = """
CREATE TABLE IF NOT EXISTS student (
    namee CHAR(255),
    admission_number VARCHAR(255),
    enrollment_number BIGINT
)
"""

# Execute the table creation query
mycursor.execute(create_table_query)

# Commit the changes
mydb.commit()

# Close the cursor and the connection
mycursor.close()
mydb.close()

ALTER:
The ALTER statement is used to modify the structure of an existing database object, such as adding, modifying, or dropping columns from a table.

In [23]:
import mysql.connector

# Connect to the MySQL database and select a specific database
#please enter your username and password
mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="galgotias_university"  # Replace with the actual name of your database
)

# Create a cursor
mycursor = mydb.cursor()

# Alter the "student" table to add a new column
alter_query = "ALTER TABLE student ADD COLUMN email VARCHAR(100)"
mycursor.execute(alter_query)

# Commit the changes
mydb.commit()

# Close the cursor and the connection
mycursor.close()
mydb.close()

TRUNCATE:
The TRUNCATE statement is used to delete all rows from a table while keeping the table structure intact. It is faster and uses fewer resources than the DELETE statement, but it does not generate individual row deletion events and does not activate triggers.

In [24]:
import mysql.connector

# Connect to the MySQL database and select a specific database
#please enter your username and password
mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="galgotias_university"  # Replace with the actual name of your database
)

# Create a cursor
mycursor = mydb.cursor()

# Truncate the "student" table to remove all data
truncate_query = "TRUNCATE TABLE student"
mycursor.execute(truncate_query)

# Commit the changes
mydb.commit()

# Close the cursor and the connection
mycursor.close()
mydb.close()

DROP: The DROP statement is used to delete existing database objects, such as tables, indexes, and views. Be careful when using DROP as it permanently removes the specified object and its data

In [ ]:
import mysql.connector

# Connect to the MySQL database and select a specific database
#please enter your username and password
mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="galgotias_university"  # Replace with the actual name of your database
)

# Create a cursor
mycursor = mydb.cursor()

# Drop the "student" table
mycursor.execute("DROP TABLE student")

# Commit the changes
mydb.commit()

# Close the cursor and the connection
mycursor.close()
mydb.close()

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML (Data Manipulation Language):
DML stands for Data Manipulation Language. It is a subset of SQL (Structured Query Language) that deals with the manipulation and retrieval of data within a database. DML statements are used to insert, update, and delete data stored in database tables.

INSERT:
The INSERT statement is used to add new rows of data into a table. It allows you to specify the table's name, the columns you're inserting data into, and the values you want to insert. Here's an example:

In [ ]:
import mysql.connector

# Connect to the MySQL database and select a specific database
# Replace "yourusername" and "yourpassword" with your actual credentials
mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="galgotias_university"  # Replace with the actual name of your database
)

# Create a cursor
mycursor = mydb.cursor()

# Insert a new student record
insert_query = """
INSERT INTO student (FirstName, LastName)
VALUES ('John', 'Doe')
"""

mycursor.execute(insert_query)

# Commit the changes
mydb.commit()

# Close the cursor and the connection
mycursor.close()
mydb.close()

UPDATE:
The UPDATE statement is used to modify existing data within a table. It allows you to specify the table's name, the columns you're updating, the new values, and a condition that determines which rows to update.

In [ ]:
import mysql.connector

# Connect to the MySQL database and select a specific database
# Replace "yourusername" and "yourpassword" with your actual credentials
mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="galgotias_university"  # Replace with the actual name of your database
)

# Create a cursor
mycursor = mydb.cursor()

# Update an existing student record
update_query = """
UPDATE student
SET LastName = 'Smith'
WHERE StudentID = 1
"""

mycursor.execute(update_query)

# Commit the changes
mydb.commit()

# Close the cursor and the connection
mycursor.close()
mydb.close()

DELETE:
The DELETE statement is used to remove rows of data from a table. It allows you to specify the table's name and a condition that determines which rows to delete.

In [ ]:
import mysql.connector

# Connect to the MySQL database and select a specific database
# Replace "yourusername" and "yourpassword" with your actual credentials
mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="galgotias_university"  # Replace with the actual name of your database
)

# Create a cursor
mycursor = mydb.cursor()

# Delete a student record
delete_query = """
DELETE FROM student
WHERE StudentID = 1
"""

mycursor.execute(delete_query)

# Commit the changes
mydb.commit()

# Close the cursor and the connection
mycursor.close()
mydb.close()

Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language. It is a subset of SQL (Structured Query Language) that is focused on retrieving data from a database. DQL includes the SELECT statement, which is used to retrieve specific columns or all columns from one or more tables in a database. 

The SELECT statement allows you to filter, sort, and manipulate data to obtain the desired results.

In [ ]:
import mysql.connector

# Connect to the MySQL database and select a specific database
# Replace "yourusername" and "yourpassword" with your actual credentials
mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="galgotias_university"  # Replace with the actual name of your database
)

# Create a cursor
mycursor = mydb.cursor()

# Select student records
select_query = """
SELECT StudentID, FirstName, LastName
FROM student
"""

mycursor.execute(select_query)

# Fetch all the rows
results = mycursor.fetchall()

# Display the results
for row in results:
    print("StudentID:", row[0])
    print("FirstName:", row[1])
    print("LastName:", row[2])
    print("")

# Close the cursor and the connection
mycursor.close()
mydb.close()

Q5. Explain Primary Key and Foreign Key

Primary Key:
A primary key is a unique identifier for a record in a database table. It uniquely identifies each row within the table and ensures that there are no duplicate entries. The primary key enforces data integrity and provides a way to uniquely identify records. In most cases, a primary key is used to link data between tables and establish relationships.

Key characteristics of a primary key:

Must contain unique values, meaning no two rows can have the same primary key value.
Cannot contain NULL values, as it needs to uniquely identify each record.
Automatically enforces data integrity and maintains the uniqueness of records.
Example:
Consider a "Students" table with columns "StudentID," "FirstName," and "LastName." Here, "StudentID" could be set as the primary key since it uniquely identifies each student in the table.

Foreign Key:
A foreign key is a field in a database table that is used to establish a link between two tables. It creates a relationship between the tables by referencing the primary key of another table. Foreign keys are used to maintain data integrity and enforce referential integrity between related tables.

Key characteristics of a foreign key:

Represents a relationship between two tables.
References the primary key of another table, creating a link between them.
Helps ensure that data in the related tables remains consistent.
Example:
Continuing with the "Students" example, imagine a "Courses" table with columns "CourseID," "CourseName," and "Instructor." To establish a relationship between the "Students" and "Courses" tables, you could add a foreign key "StudentID" in the "Courses" table. This foreign key would reference the primary key "StudentID" in the "Students" table, linking each course to the student who is taking it.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
#python code to connect MySQL to python
import mysql.connector
# import mysql.connector
#please enter your own username and password
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="your password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
  print(x)

# cursor():
The cursor() method is used to create a cursor object, which allows you to interact with a database by executing SQL queries and fetching results. A cursor acts as a pointer or a control structure that enables you to traverse through the result set of a query and perform various database operations.

Creating a cursor is the first step before you can start executing SQL commands on a database. Once you have a cursor, you can use it to execute queries, fetch data, and manage transactions.

# execute():
The execute() method is used to execute an SQL query or command through the cursor. It allows you to send SQL statements to the database for execution. The execute() method is commonly used to perform actions like inserting, updating, deleting, and querying data from the database.

After executing a query using execute(), you can also fetch the results using methods like fetchone(), fetchall(), etc., depending on the nature of your query.

Q7. Give the order of execution of SQL clauses in an SQL query.

In an SQL query, the clauses are typically executed in the following order:

SELECT: The SELECT clause specifies which columns to retrieve from the database.

FROM: The FROM clause specifies the table or tables from which to retrieve the data.

WHERE: The WHERE clause filters the data based on a specified condition.

GROUP BY: The GROUP BY clause groups the data by one or more columns.

HAVING: The HAVING clause filters the grouped data based on a condition.

ORDER BY: The ORDER BY clause sorts the result set based on specified columns.

LIMIT/OFFSET: The LIMIT (and optionally OFFSET) clause restricts the number of rows returned in the result set.